{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'home/css/styles.css' %}>
    <title>Layout</title>
</head>
<body>
    <!-- header -->
    <div id="header" class="layout">
        <div class="layout">
            <a href="/">Dex Consulting</a>
        </div>
        <div class="layout">
            <a href="/">회원가입</a>
        </div>
    </div>
    <!-- top-ui -->
    <div id="top-ui" class="layout">

    </div>

    <!-- body -->
    <div id="container">
        <div id="wrap">
            <div class="layout" id="layout-left">
                <ul>
                    <li><a href="/"><span>회사소개</span></a></li>
                    <li><a href="/"><span>Apps</span></a></li>
                    <li><a href="/"><span>BI</span></a></li>
                    <li><a href="/"><span>PAD</span></a></li>
                    <li><a href="/"><span>PA</span></a></li>
                </ul>
            </div>
            <div class="layout" id="layout-right">

            </div>
        </div>
    </div>

    <!-- footer -->
    <div id="footer" class="layout">

    </div>
</body>
</html>