div{
    background-color: red;
}

#left_container {
    width: 20%;
    height: 520px;
    background-color: aqua;
}
#right_container {
    width: 20%;
    height: 520px;
    background-color: brown;
}